.dashboard-menu {
    background-color: #f8f8f8;
    padding: 15px;
    margin-bottom: 20px;
}

.dashboard-menu ul {
    list-style-type: none;
    padding: 0;
}

.dashboard-menu ul li {
    margin: 10px 0;
}

.dashboard-menu ul li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.dashboard-menu ul li a:hover {
    text-decoration: underline;
}


/* Add this to your styles.css file */
.reset-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #f8f8f8;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.reset-button:hover {
    background-color: #e8e8e8;
}

/* Add this to your styles.css file */
.hide-products-container {
    width: 80%;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
